<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title>PAGE TITLE HERE</title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <link href="/style_sheet.css" rel="stylesheet" />

</head>

  <body>
    <div class="wrapper">
      <section class="clearfix">
        <article class="one_fourth">
        </article>
        <article class="one_half">
          <p id="flash_confirm"><%= thanks_notice %></p>
          <a href="/register"><button id="registration_button">Register</button></a>
        </article>
        <article class="one_fourth">
        </article>
      </section>
    </div>

    <div style="text-align: center" class="wrapper">
        <h1>OR</h1>
    </div>

    <div class="wrapper">
      <section class="clearfix">
        <article class="one_fourth">
        </article>
        <article class="one_half">
          <form action="/signin" method="post">
            <label for="username">Username</label>
            </br>
            <input class="form_width" type="text" name="username">
            </br>
            </br>
            <label for="password">Password</label>
            </br>
            <input class="form_width" type="text" name="password">
            </br>
            </br>
            <button id="register_button">Login</button>
          </form>
        </article>
        <article class="one_fourth">
        </article>
      </section>
    </div>

  </body>

</html>
