<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title></title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <link href="/style_sheet.css" rel="stylesheet" />

</head>

<div class="wrapper">

  <section class="clearfix">

    <article class="one_fourth">
    </article>

    <article class="one_half">
      <h1><%= name %>'s Fish</h1>

      <ul><%= the_fish %></ul>
    </article>

    <article class="one_fourth">
    </article>

  </section>
</div>